@import "tailwindcss";

html, body {
  height: 100%; /* Important for the grid container to stretch */
  margin: 0;
  font-family: var(--font-sans);
  overflow: hidden; /* Prevent unwanted scrollbars if content is too tall */
}
